<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>상세조회</h2>
    <table>
        <tr>
            <td>id</td>
            <td>memberEmail</td>
            <td>memberPassword</td>
            <td>memberName</td>
            <td>memberAge</td>
            <td>memberPhone</td>
        </tr>
        <tr>
            <td th:text="${member.id}"></td>
            <td th:text="${member.memberEmail}"></td>
            <td th:text="${member.memberPassword}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberAge}"></td>
            <td th:text="${member.memberPhone}"></td>
        </tr>
    </table>
</body>
</html>