<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
    <h2>회원 목록 페이지</h2>
    세션값 확인 : <p th:text="${session['loginEmail']}"></p>
    세션값 확인 : <p th:text="${session.loginEmail}"></p>

    <table>
        <tr>
            <td>회원 번호</td>
            <td>회원 이메일</td>
            <td>회원 비밀번호</td>
            <td>회원 이름</td>
            <td>회원 나이</td>
            <td>회원 전화번호</td>
        </tr>
        <tr th:each="member: ${memberList}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.memberEmail}"></td>
            <td th:text="${member.memberPassword}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberAge}"></td>
            <td th:text="${member.memberPhone}"></td>
            <td>
                <a th:href="@{|/member/${member.id}|}">조회</a>
            </td>
        </tr>
    </table>
</body>
</html>