<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Title</title>
</head>
<body>
    <h2>회원가입 페이지</h2>
    <form action="/member/save" method="post">
        이메일 입력 <input type="text" id="memberEmail" onblur="memberEmailCheck()" name="memberEmail"><br>
        <span id="memberEmail-check"></span><br>
        비밀번호 입력 <input type="password" name="memberPassword"><br>
        이름 입력 <input type="text" name="memberName"><br>
        나이 입력 <input type="text" name="memberAge"><br>
        전화번호 입력 <input type="text" name="memberPhone"><br>
        <input type="submit" value="회원가입">
    </form>
</body>
<script>
    const memberEmailCheck = () => {
        const memberEmail = document.getElementById("memberEmail").value;
        const checkResult = document.getElementById("memberEmail-check");
        $.ajax({
            type: "post",
            url: "/member/dup-check",
            data: {"memberEmail": memberEmail},
            dataType: "text",
            success:function (result){
                if(result == "ok"){
                    checkResult.innerHTML ="사용 가능한 이메일 입니다.";
                    checkResult.style.color= "green";
                }
                else {
                    checkResult.innerHTML = "이미 사용중인 이메일 입니다.";
                    checkResult.style.color = "red";
                }
            },
            error:function (){
                alert("ajax 실패");
            }
        });
    }
</script>
</html>