<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Title</title>
</head>
<body>
    <h2>회원 정보 수정</h2>
    <form action="/member/update" method="post" name="updateForm">
        회원 번호 <input type="hidden" th:value="${updateMember.id}" name="id"><br>
        이메일 <input type="text" th:value="${updateMember.memberEmail}" name="memberEmail" readonly><br>
        비밀번호 <input type="password" id="memberPassword" name="memberPassword"><br>
        이름 <input type="text" th:value="${updateMember.memberName}" name="memberName" readonly><br>
        나이 <input type="text" th:value="${updateMember.memberAge}" name="memberAge" readonly><br>
        전화번호 <input type="text" id="memberPhone" th:value="${updateMember.memberPhone}" name="memberPhone"><br>
        <input type="button" th:onclick="update()" value="정보 수정">
        <input type="button" th:onclick="updateByAjax()" value="정보 수정(put)">
    </form>
</body>
<script th:inline="javascript">
    const update = () => {
        const pw = [[${updateMember.memberPassword}]];
        const memberPassword = document.getElementById("memberPassword").value;
        if(memberPassword == pw){
            updateForm.submit();
        }
        else{
            alert("비밀번호가 일치하지 않습니다.");
        }
    }
    const updateByAjax = () => {
        const id = [[${updateMember.id}]];
        const memberEmail = [[${updateMember.memberEmail}]];
        const memberPassword = document.getElementById("memberPassword").value;
        const memberName = [[${updateMember.memberName}]];
        const memberAge = [[${updateMember.memberAge}]];
        const memberPhone = document.getElementById("memberPhone").value;
        //JSON 형식으로 보냄
        const updateData = JSON.stringify({
            id: id,
            memberEmail: memberEmail,
            memberPassword: memberPassword,
            memberName: memberName,
            memberAge: memberAge,
            memberPhone: memberPhone
        });

        $.ajax({
            type: "put",
            data: updateData,
            url: "/member/"+id,
            contentType: "application/json",
            success: function (){
                location.href = "/member/" + id;
            },
            error: function (){
                alert("ajax 실패");
            }
        });
    }
</script>
</html>